[Unit]
Description=SSHProxy Service
After=network.target nss-lookup.target

[Service]
ExecStart=/usr/bin/bash -c '~/.config/sshproxy/start-tunnel'
Restart=always
RestartSec=20
KillMode=mixed

[Install]
WantedBy=default.target
